

.hero-main{
    color: rgb(203, 213, 225);
    background-color: rgb(15, 23, 42);
}

.hero-main p{
    color:rgb(148, 163, 184);
}

.border-4{
    border-width:4px !important;
}

.prof-pic img{
    height: 400px;
    border-radius: 30%;
}

.profile_info{
    width: 1000px;
}

h3{
    margin-left: 1rem;
}

.badge-pill{
    background-color:rgb(226, 232, 240);
    color: black;
    font-weight: 200;
    margin-right: 5px;
}

.card{
    height: 400px;
}

.card img{
    height: 200px;
}

.projects{
    background-color: rgb(248, 250, 252);
}